<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/22.2.5/material.css" /> *@
    <link href="https://cdn.syncfusion.com/ej2/22.2.5/bootstrap5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
    <script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js"></script>
</head>
<body class="e-bigger">
    <style>
        .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

.input {
  border-style: none;
  height: 40px;
  width: 44px;
  padding: 10px;
  outline: none;
  border-radius: 0%;
  transition: .5s ease-in-out;
  background-color: transparent;
            box-shadow: 2px 2px 3px rgb(34,43,51);
  padding-right: 40px;
  color: #fff;
}

.input::placeholder,
.input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: #8f8f8f;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid rgb(83,249,166);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



    </style>
    <partial name="_SideBar" />

    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="container-fluid py-2 px-4">
            @* <div class="search-box">
                <input id="searchinput" type="text" class="search-input" placeholder="Search here...">
                <a class="search-btn" href="#">
                    <!-- Seach Icon -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div> *@
            <div class="input-wrapper">
                <button class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
                    </svg>
                </button>
                <input placeholder="search here.." class="input" name="text" type="text">
            </div>
            @* <i class="fa-solid fa-magnifying-glass"></i> *@
            <div style="margin-inline-start:inherit">
                <span class="fst-italic">👋 Hello! Devang Gohil</span>
                <i class="fa-solid fa-bell"></i>
                <img class="profile-pic" src="/lib/pic.png" />
            </div>
        </div>
    </nav>

    <div class="main-content">

        <div class="container mt-5">
        <div class="row justify-content-center">
                <div class="@(ViewData["isDashboard"]==null?"col-md-10":"col-md-12")">
                <main role="main" class="pb-3">
                        @if(ViewData["isDashboard"] == null)
                        {
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="d-flex flex-column mb-5">
                                        <div class="d-flex mb-1">
                                            <div class="flex-grow-1">
                                                <h3 class="fw-bold">@ViewData["PageTitle"]</h3>
                                            </div>
                                            <div>
                                                @if(ViewData["PageActionText"] != null)
                                                {
                                                    <a class="btn btn-success" href="@ViewData["PageActionUrl"]">
                                                        @ViewData["PageActionText"]
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        <ejs-breadcrumb id="breadcrumb" separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"></ejs-breadcrumb>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    
    </div>
    
    <br/>
    <footer class="border-top footer text-muted">
        <br />
        <div class="container text-center">
            &copy; 2023 - Expense_Tracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
